<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Contact Us</h1>
    <p><b>Tel. No: </b> <i class="fas fa-phone"></i> +49 6997701</p>
    <p>
      <b>Email: </b><i class="fas fa-envelope"></i>
      <a href="sfdabilene2006@gmail.com">sfdabilene2006@gmail.com</a>
    </p>
    <address>
      <b>Address:</b>
      Engelsruhe 24, 65929 Frankfurt Am Main
    </address>
    <ul class="list-unstyled">
      <li>List Item</li>
      <li>List Item 2</li>
    </ul>
  </div>
  <%= render 'pages/mailer' %>
</div>
