<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Company<span>logo</span></h3>
    <p class="footer-links">
      <%= link_to "Home", root_path, class: "home-footer" %>
      <%= link_to "F.A.Q" %>
      <%= link_to "About", pages_about_path, class: "about-footer" %>
      <%= link_to "Contact", pages_contact_path, class: "contact-footer"%>
      
    </p>
    <p class="footer-company-name">Company Name &copy; 2019</p>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>
  <div class="footer-right">
    <div id="map">
      <style type="text/css">
        #map {
          width: 520px;
          height: 300px;
        }
      </style>
    </div>
  </div>
</footer>
<div id="copyright" class= "text-center"><small>Catharina Kaltenbach © 2019</small></div>